<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>添加员工信息</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css"
          href="css/style.css"/>
</head>

<body>
<div id="wrap">
    <div id="top_content">
        <div id="header">
            <div id="rightheader">
                <p>
                    2009/11/20
                    <br/>
                    <a href="javascript:;" @click="quit">安全退出</a>
                </p>
            </div>
            <div id="topheader">
                <h1 id="title">
                    <a href="/ems_vue/emplist.html">main</a>
                </h1>
            </div>
            <div id="navigation">
            </div>
        </div>
        <div id="content">
            <p id="whereami">
            </p>
            <h1>
                添加员工信息:
            </h1>
            <form action="javascript:;" method="post">
                <table cellpadding="0" cellspacing="0" border="0"
                       class="form_table">
                    <tr>
                        <td valign="middle" align="right">
                            姓名:
                        </td>
                        <td valign="middle" align="left">
                            <input type="text" class="inputgri" v-model="emp.name"/>
                        </td>
                    </tr>
                    <tr>
                        <td valign="middle" align="right">
                            头像:
                        </td>
                        <td valign="middle" align="left">
                            <input type="file" ref="myPhoto" name="img"/>
                        </td>
                    </tr>
                    <tr>
                        <td valign="middle" align="right">
                            工资:
                        </td>
                        <td valign="middle" align="left">
                            <input type="text" class="inputgri" v-model="emp.salary"/>
                        </td>
                    </tr>
                    <tr>
                        <td valign="middle" align="right">
                            年龄:
                        </td>
                        <td valign="middle" align="left">
                            <input type="text" class="inputgri" v-model="emp.age"/>
                        </td>
                    </tr>
                </table>
                <p>
                    <input type="button" @click="saveEmp" class="button" value="确认添加"/>
                    <input type="button" class="button" value="返回列表"/>
                </p>
            </form>
        </div>
    </div>
    <div id="footer">
        <div id="footer_bg">
            ABC@126.com
        </div>
    </div>
</div>
</body>
</html>
<script src="js/vue.js"></script>
<script src="js/axios.min.js"></script>

<script>
    const app = new Vue({
        el: "#wrap",
        data: {
            user: {},
            emp: {},

        },
        methods: {
            quit() {
                localStorage.removeItem("user");
                location.reload(true);
            },

            saveEmp() {
                console.log(this.emp);
                console.log(this.$refs.myPhoto.files[0]);
                let formData = new FormData();
                formData.append("name", this.emp.name);
                formData.append("salary", this.emp.salary);
                formData.append("age", this.emp.age);
                formData.append("photo", this.$refs.myPhoto.files[0]);
                let _this = this;
                axios({
                    method: "post",
                    url: "http://localhost:8080/ems_vue/emp/save",
                    data: formData,
                    headers: {
                        'content-type': 'multipart/form-data'
                    }
                }).then(res => {
                    if (res.data.state) {
                        if (window.confirm(res.data.msg + "点击确认跳转到列表页面")) {
                            location.href="/ems_vue/emplist.html";
                        } else {
                            _this.emp = {};
                        }
                    } else {
                        alert(res.data.msg);
                    }
                })
            },
        },
        created() {
            let userString = localStorage.getItem("user");
            if (userString) {
                this.user = JSON.parse(userString);
            } else {
                alert("你还未登录，点击确认跳转至登录页面");
                location.href = "/ems_vue/login.html";
            }
        }
    });
</script>